<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <a href='/apartments'>List of Apartments</a>
      <a href='/apartments/new'>Create New Apartment</a>
    </nav>
    <%= yield %>
  </body>
</html>
