<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <a href='/apartments'>List All Apartments</a>
      <a href='/tenants'>List All Tenants</a>

    </nav>
    <%= yield %>
  </body>
</html>
