<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <a href='/apartments'>List All Apartments</a>
      <a href='/apartments/:id'>View Sample Apartment</a>
      <a href='/apartments/new'>Create a New Apartment</a>
      <a href='/apartments/:id/tenants'>List Tenants for Sample Apartment</a>
      <a href='/apartments:id/tenants/new'>Add Tenant to Apartment</a>
    </nav>
    <%= yield %>
  </body>
</html>
