<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>DC Property Management</h1>
    </header>
    <nav>
      <a href='/apartments'>List All apartments</a>
      <a href='/apartments/sample'>View sample apartment</a>
      <a href='/apartments/new'>Create a new apartment</a>
      <a href='/apartments/sample/tenants'>List tenants for sample apartment</a>
    </nav>
    <%= yield %>
  </body>
</html>
