<!doctype html>
<html>

<head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <nav>
        <a href='/apartments'>Apartments</a>
        <a href='/tenants'>Tenants</a>
    </nav>
    <%= yield %>
</body>

</html>

