<h2>Tenants <a href="/tenants/new">(+)</a></h2>

<ul>
  <% @tenants.each do |tenant| %>
    <li>
      <a href="/tenants/<%= tenant.id %>">
        <%= tenant.address %>
      </a>
    </li>
      <% end %>
</ul>
