<h2>
  The tenants living in Apt.3 are:
  <a href="/tenants/new">(+)</a>
</h2>

<ul>
  <% @tenants.each do |tenant| %>
    <li>
      <a href="/tenants/<%= tenant.id %>">
        <%= tenant.name %></li>
      </a>
  <% end %>
</ul>
