<ul>
  <li><a href='/apartments/<%=@apartment.id%>/tenants/new'>Add New Tenant</a></li>
  <% @apartment.tenants.each do |tenant| %>
  <li><%= tenant.name %>, <%= tenant.age %> years old, <%= tenant.gender %></li>
<% end %>
</ul>
