<form  action="/apartments/<%= @apartment.id %>/tenants" method="post">
  <input type="text" name="tenant[name]" placeholder="Name">
  <input type="text" name="tenant[age]" placeholder="Age">
  <input type="text" name="tenant[gender]" placeholder="Gender">
  <input type="submit">
</form>
