Add New Tenant
<form method="post" action="/apartments/<%=@apartment.id%>/tenants">
  <input type = "text" name="tenants[name]" placeholder="name">
  <input type = "text" name="tenants[age]" placeholder="age">
  <input type = "text" name="tenants[gender]" placeholder="gender">
  <input type = "integer" name ="tenant[apartment_id]" value= <%= @apartmentParam %>>
  <input type="submit">
</form>
