<h3>Creating New Tenant</h3>

<form method="post" action="/tenants">
    <input type="text" name="tenant[name]" placeholder="Name">
    <input type="text" name="tenant[age]" placeholder="Age">
    <input type="text" name="tenant[gender]" placeholder="Gender">
    <input type="submit">
</form>
