<h2>Adding Tenant to this Apartment</h2>

<form method="post" action="/apartments/<%= @apartment.id %>/tenants">
  <label for="tenant[:name]">Name</label>
  <input name="tenant[:name]" type="text">

  <label for="tenant[:age]">Age</label>
  <input name="tenant[:age]" type="text">

  <label for="tenant[:gender]">Gender</label>
  <input name="tenant[:gender]" type="text">

  <input type="submit">
</form>
