<ul>
    <% @apartments.each do |apartment| %>
    	<li><%= apartment.address %></li>
    <% end %>
</ul>

<nav>
    <a href='/apartments/new'>Add New Apartment</a>
    <a href='/apartments'></a>
</nav>

