<ul>
  <% @apartments.each do |apartment| %>
    <li>
      <a href='/apartments/<%= apartment.id %>'>
        <%= apartment.address %>
      </a>
    </li>
    <% end %>
      <li>
        <a href="/apartments/new">Create New Apartment</a>
      </li>
</ul>
