<h2>All Apartments <a href="/apartments/new">(+)</a></h2>

<% @apartments.each do |apartment| %>
  <ul>
    <li>Address: <a href="/apartments/<%= apartment.id %>"><%= apartment.address %></a></li>
  </ul>
<% end %>
