<h2>Available Apartments</h2>

<ul>
  <% @apartments.each do |apartment| %>
    <li><p>
      <a href="/apartments/<%= apartment.id %>"><%= apartment.address %> </a> --
      <a href="/apartments/<%= apartment.id %>/edit">edit</a> --
      <a href="/apartments/<%= apartment.id %>/delete">delete</a></p>
    </li>
  <% end %>
</ul>

<h2>New Apartment</h2>
<h2><a href="/apartments/new">Add new apartment</a></h2>
