<h2>Apartments</h2>
<ul>
<% @apartments.each do |apartment| %>
  <li><a href='/apartments/<%= apartment.id %>'><%= apartment.address %></a></li>
<% end %>
</ul>

<a href='/apartments/new'>Add an Apartment</a>
