<form method="post" action="/apartments">
  <input name="apartment[address]"       type="text" placeholder="Address">
  <input name="apartment[monthly_rent]"  type="text" placeholder="Monthly Rent">
  <input name="apartment[sqft]"          type="text" placeholder="Square Feet">
  <input name="apartment[num_beds]"      type="text" placeholder="Number Beds">
  <input name="apartment[num_baths]"     type="text" placeholder="Number Baths">
  <input type="submit">
</form>
