<h2>New Apartment</h2>

<form method="post" action="/apartments">

  <input type="text" placeholder="Address" input name="apartment[address]">

  <input type="text" placeholder="Monthly Rent" input name="apartment[monthly_rent]">

  <input type="text" placeholder="Square Feet" input name="apartment[sqft]">

  <input type="text" placeholder="Number Beds" input name="apartment[num_beds]">

  <input type="text" placeholder="Number Baths" input name="apartment[num_baths]">

  <input type="submit" value="Create Apartment">
</form>
