<form method="post" action="/apartments">
  <input type="text" placeholder="Address" name="apartment[address]">
  <input type="text" placeholder="Monthly Rent" name="apartment[monthly_rent]">
  <input type="text" placeholder="Square Feet" name="apartment[sqft]">
  <input type="text" placeholder="Number Beds" name="apartment[num_beds]">
  <input type="text" placeholder="Number Baths" name="apartment[num_baths]">
  <input type="submit" value = "Add">
</form>
