<h2 class ="apartment-address"> Sample Apartment- 742 Evergreen Terrace </h2>
<ul>
  <li> Rent: $5500/mo </li>
  <li> Square Footage: </li>
  <li> Number of Beds: 5 </li>
  <li> Number of Baths: 3  </li>
</ul>
